body {
  background-color: #000000;
}

.AchievementsPage {
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-family: Raleway-Medium;
  color: #ffffff;
  font-size: 20px;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url(./assets/fonts/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Light';
  src: local('Raleway-Light'), url(./assets/fonts/Raleway-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: local('Raleway-Medium'), url(./assets/fonts/Raleway-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: local('Raleway-SemiBold'), url(./assets/fonts/Raleway-SemiBold.ttf) format('truetype');
}
