@font-face {
  font-family: 'Raleway-SemiBold';
  src: local('Raleway-SemiBold'), url(./assets/fonts/Raleway-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url(./assets/fonts/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Light';
  src: local('Raleway-Light'), url(./assets/fonts/Raleway-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: local('Raleway-Medium'), url(./assets/fonts/Raleway-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'ChreiRegular';
  src: local('ChreiRegular'), url(./assets/fonts/ChreiRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'Spartwell';
  src: local('Spartwell'), url(./assets/fonts/Spartwell.otf) format('opentype');
}

.App {
  background: #000000;
  color: #000000;
}

#reflect {
  -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right bottom, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0.938)));
}

.carousel {
  margin-top: 12%;
  height: 5000px;
  width: 100vw;
  perspective: 300px;

}

.carousel-item {
  border-radius: 13px;
  background-color: #080808;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel .carousel-item {
  
  min-width: 400px;
  min-height: 240px;
  justify-content: center;
}

.ProfilePic {
  display: flex;
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  margin-top: -5.5%;
  margin-left: 6%;
}
.Card {
  display: flex;
  margin-left: 35%;
  margin-top: 15%;
  width: 400px;
  height: 225px;
  background-color: #080808;
  font-family: Raleway-SemiBold;
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 10px;
}
.Name {
  color: white;
  font-family: Raleway-SemiBold;
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 7%;
  margin-left: 17%;
}
.Designation {
  font-family: Raleway-SemiBold;
  letter-spacing: 1px;
  color: #5F5F5F;
  font-size: 10px;
  margin-top: 0.5%;
  margin-left: 17%;
}
.Comment {
  display: flex;
  font-family: Raleway-SemiBold;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
  width: 300px;
  margin-left: 26%;
  margin-top: -15%;
}
.Hash {
  display: flex;
  font-family: Spartwell;
  color: #ffffff;
  font-size: 100px;
  margin-left: 9%;
  margin-top: -3%;
}

/* .carousel {
  margin-top: 8%;
  height: 5000px;
  perspective: 300px;

}

.carousel .carousel-item {
  width: 5000px;
}



.Card {
  display: flex;
  margin-left: 35%;
  margin-top: 15%;
  width: 400px;
  height: 225px;
  background-color: #080808;
  font-family: Raleway-SemiBold;
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 10px;
}

.Name {
  font-size: 12px;
  margin-top: 7%;
  margin-left: 17%;
}

.Designation {
  font-family: Raleway-SemiBold;
  color: #5F5F5F;
  font-size: 10px;
  margin-top: 3%;
}

.Image1 {
width: 4%;
align: center;
height: 7%;
margin-left: 20%;
margin-top: 9%;
}
.Image2 {
width: 5%;
align: center;
height: 8%;
margin-left: 7%;
margin-top: 9%;
}
.Image3 {
width: 1%;
align: center;
height: 8%;
margin-left: 7%;
margin-top: 9%;
} */
