.LandingPage {
    color: #ffffff;
  }

.AboutMeRow {
  display: inline-block;
  font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 450;
    font-size: 13px;
    color: #ffffff;
    margin-top: 42px;
    margin-left: 35%;
    word-spacing: 50 px;
}
.AboutMe {
  display: inline-block;
  margin-right: 35px;
}
.Skills {
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
}
.Achievements {
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
}
.Research {
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
}
.Projects {
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
}
.Gallery {
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
}
.Contact {
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
}

  

@media screen and (max-width: 500px) {
  
  .AboutMeRow {
    display: none;
  }
  .AboutMe {
    display: inline-block;
    margin-right: 8px;
  }
  .Skills {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
  }
  .Achievements {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
  }
  .Research {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
  }
  .Projects {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
  }
  .Gallery {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
  }
  .Contact {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
  .AboutMeRow {
    display: none;
  }

  .AboutMe {
    display: inline-block;
    margin-right: 12px;
  }
  .Skills {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
  }
  .Achievements {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
  }
  .Research {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
  }
  .Projects {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
  }
  .Gallery {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
  }
  .Contact {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
  }
}


  @font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url(./assets/fonts/Gilroy-Medium.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Raleway-Light';
    src: local('Raleway-Light'), url(./assets/fonts/Raleway-Light.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Raleway-Medium';
    src: local('Raleway-Medium'), url(./assets/fonts/Raleway-Medium.ttf) format('truetype');
  }
  body {
    background-color: #000000;
    height: 100%;
  }
