.ProjectsPage {
  overflow: hidden;
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

.Project {
  margin-top: 4%;
  font-family: Raleway-Light;
  font-size: 30px;
  letter-spacing: 6px;
  margin-left: 8%;
}


.ProjectsName {
  display: flex;
  font-family: Raleway-Medium;
  font-size: 17px;
  color: #393939;
  margin-top: 3%;
  margin-left: 8%;
}

.mys {
  margin-right: 4%;
}

.mys:hover {
  color: #ffffff;
/* font-size: 20px; */
  transition: 0.25s;
  /* margin-top: -0.3%; */
}

.dec {
  margin-right: 4%;
}

.dec:hover {
  color: #ffffff;
/* font-size: 20px; */
  transition: 0.25s;
  /* margin-top: -0.3%; */
}

.can {
  margin-right: 4%;
}

.can:hover {
  color: #ffffff;
/* font-size: 20px; */
  transition: 0.25s;
  /* margin-top: -0.3%; */
}

.por {
  margin-right: 4%;
}

.por:hover {
  color: #ffffff;
/* font-size: 20px; */
  transition: 0.25s;
  /* margin-top: -0.3%; */
}

.and {
  margin-right: 4%;
}

.and:hover {
  color: #ffffff;
/* font-size: 20px; */
  transition: 0.25s;
  /* margin-top: -0.3%; */
}

.selectedproject {
  font-family: Raleway-Medium;
  margin-top: 10%;
  margin-left: 8%;
}

.heading {
  font-family: Raleway-SemiBold;
  font-size: 30px;
}

.selectedprojectcontent {
  font-size: 17px;
  width: 500px;
  margin-top: 2%;
  color: #393939;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url(./assets/fonts/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Light';
  src: local('Raleway-Light'), url(./assets/fonts/Raleway-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: local('Raleway-Medium'), url(./assets/fonts/Raleway-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: local('Raleway-SemiBold'), url(./assets/fonts/Raleway-SemiBold.ttf) format('truetype');
}

